/*=============== 2.6 Table ==================*/
.bs-table thead tr th {
    text-align: center;
    color: #111111;
    padding: 12px 10px;
  }
  .bs-table tbody tr td {
    text-align: center;
    padding: 10px;
  }
  /*=============== 2.7 Modal ==================*/
  .modal .modal-dialog .modal-content {
    border: none;
  }
  .modal .modal-dialog .modal-content .modal-header {
    padding: 15px 20px;
    align-items: center;
  }
  .modal .modal-dialog .modal-content .modal-header .modal-title {
    font-weight: 500;
  }
  .modal .modal-dialog .modal-content .modal-header .close {
    font-size: 24px;
  }
  .modal .modal-dialog .modal-content .modal-header .close:focus {
    outline: none;
  }
  .modal .modal-dialog .modal-content .modal-body {
    padding: 20px;
  }
  .modal .modal-dialog .modal-content .modal-footer {
    padding: 15px 20px;
  }
  .modal .modal-dialog .modal-content .modal-footer .footer-btn {
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 6px 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .modal .modal-dialog .modal-content .modal-footer .footer-btn:hover {
    background-color: #042954;
  }
  .modal .modal-dialog .modal-content .modal-footer .footer-btn:focus {
    outline: none;
  }
  .modal-trigger {
    cursor: pointer;
    font-weight: 500;
    color: #ffffff;
    border: none;
    background-color: #0e56a9;
    border-radius: 4px;
    padding: 12px 28px;
    margin-right: 5px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .modal-trigger:hover {
    background-color: #042954;
  }
  .modal-trigger:focus {
    outline: none;
  }
  /*=======================================================================
  3. VENDOR CUSTOM STYLE
  =========================================================================*/
  /*=============== 3.1 Data Table ==================*/
  .dataTables_wrapper .table {
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
  }
  .dataTables_wrapper .table thead .sorting {
    background-image: none;
    position: relative;
  }
  .dataTables_wrapper .table thead .sorting:before {
    content: "\f0d8";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    color: #bfbfbf;
    font-weight: 600;
    position: absolute;
    top: 43%;
    right: 0;
    transform: translateY(-50%);
  }
  .dataTables_wrapper .table thead .sorting:after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    color: #bfbfbf;
    font-weight: 600;
    position: absolute;
    bottom: 43%;
    right: 0;
    transform: translateY(50%);
  }
  .dataTables_wrapper .table thead .sorting_asc {
    background-image: none;
    position: relative;
  }
  .dataTables_wrapper .table thead .sorting_asc:after {
    content: "\f0d8";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    color: #111111;
    font-weight: 600;
    position: absolute;
    bottom: 53%;
    right: 0;
    transform: translateY(50%);
  }
  .dataTables_wrapper .table thead .sorting_desc {
    background-image: none;
    position: relative;
  }
  .dataTables_wrapper .table thead .sorting_desc:after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    color: #111111;
    font-weight: 600;
    position: absolute;
    bottom: 43%;
    right: 0;
    transform: translateY(50%);
  }
  .dataTables_wrapper .table thead tr th {
    border-bottom: 2px solid #e1e1e1;
    border-top: none;
    font-size: 16px;
    font-weight: 500;
    color: #111111;
    padding: 14px 15px;
  }
  @media only screen and (max-width: 991px) {
    .dataTables_wrapper .table thead tr th {
      font-size: 15px;
    }
  }
  .dataTables_wrapper .table tbody tr {
    border: 1px solid #e1e1e1;
  }
  .dataTables_wrapper .table tbody tr td {
    font-size: 15px;
    font-weight: 400;
    padding: 9px 15px;
    vertical-align: middle;
  }
  .dataTables_wrapper .table tbody tr td .dropdown .dropdown-toggle span:before {
    color: #bcbcbc;
    font-weight: 700;
  }
  .dataTables_wrapper .table tbody tr td .dropdown .dropdown-toggle:after {
    border: none;
  }
  .dataTables_wrapper .table tbody tr td .dropdown .dropdown-menu {
    border: none;
    padding: 15px 0 18px;
  }
  .dataTables_wrapper .table tbody tr td .dropdown .dropdown-menu .dropdown-item {
    font-size: 15px;
    padding: 7px 20px;
  }
  .dataTables_wrapper .table tbody tr td .dropdown .dropdown-menu .dropdown-item i {
    margin-right: 14px;
    width: 22px;
  }
  .dataTables_wrapper .dataTables_paginate {
    padding-top: 20px;
  }
  .dataTables_wrapper .dataTables_paginate a.paginate_button.previous {
    margin-right: 10px;
  }
  .dataTables_wrapper .dataTables_paginate span a.paginate_button {
    border: 1px solid #ffae01;
    padding: 8px 18px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .dataTables_wrapper .dataTables_paginate span a.paginate_button:active {
    box-shadow: none;
  }
  .dataTables_wrapper .dataTables_paginate span a.paginate_button:hover {
    background: -webkit-gradient(linear, left top, right top, from(#ff9d01), to(#ffae01));
    background: -webkit-linear-gradient(left, #ff9d01, #ffae01);
    background: -o-linear-gradient(left, #ff9d01, #ffae01);
    background: linear-gradient(to right, #ff9d01, #ffae01);
    border-color: #ffae01;
  }
  .dataTables_wrapper .dataTables_paginate span .paginate_button.current {
    background: -webkit-gradient(linear, left top, right top, from(#ff9d01), to(#ffae01));
    background: -webkit-linear-gradient(left, #ff9d01, #ffae01);
    background: -o-linear-gradient(left, #ff9d01, #ffae01);
    background: linear-gradient(to right, #ff9d01, #ffae01);
    border: 1px solid #ffae01;
    padding: 8px 18px;
  }
  .dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover {
    background: transparent;
    border-color: #ffae01;
  }
  /*=============== 3.2 Full Calender ==================*/
  .fc-calender .fc-header-toolbar .fc-left {
    width: 50%;
    margin-bottom: 30px;
  }
  .fc-calender .fc-header-toolbar .fc-left h2 {
    font-size: 18px;
    font-weight: 600;
    color: #111111;
  }
  .fc-calender .fc-header-toolbar .fc-right {
    margin-bottom: 30px;
    width: 50%;
  }
  .fc-calender .fc-header-toolbar .fc-right .fc-button-group {
    float: right;
  }
  .fc-calender .fc-header-toolbar .fc-right .fc-button-group .fc-button {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
  }
  .fc-calender .fc-header-toolbar .fc-right .fc-button-group .fc-button:hover {
    color: #cdcdcd;
  }
  .fc-calender .fc-header-toolbar .fc-right .fc-button-group .fc-button:focus {
    outline: none;
  }
  .fc-calender .fc-header-toolbar .fc-center .fc-button-group {
    background-color: #f3f4f5;
    border-radius: 40px;
  }
  .fc-calender .fc-header-toolbar .fc-center .fc-button-group .fc-button {
    background-image: none;
    box-shadow: none;
    border: none;
    background: none;
    height: auto;
    font-size: 14px;
    color: #a5a5a5;
    text-transform: capitalize;
    padding: 8px 30px;
  }
  .fc-calender .fc-header-toolbar .fc-center .fc-button-group .fc-button:focus {
    outline: none;
  }
  @media only screen and (max-width: 479px) {
    .fc-calender .fc-header-toolbar .fc-center .fc-button-group .fc-button {
      padding: 8px 12px;
    }
  }
  .fc-calender .fc-header-toolbar .fc-center .fc-button-group .fc-button.fc-state-active {
    background-color: #f50057;
    color: #ffffff;
    border-radius: 40px;
    box-shadow: 0px 4px 10px 0px rgba(255, 151, 188, 0.75);
  }
  .fc-calender .fc-view-container .fc-month-view .fc-event-container {
    display: block;
  }
  .fc-calender .fc-view-container .fc-month-view .fc-event-container .fc-day-grid-event {
    color: #fff;
  }
  @media only screen and (max-width: 767px) {
    .fc-calender .fc-view-container .fc-month-view .fc-event-container .fc-day-grid-event {
      display: none;
    }
  }
  .fc-calender .fc-view-container .fc-month-view .fc-day-grid-container {
    height: auto !important;
  }
  .fc-calender .fc-view-container .fc-month-view .fc-day-grid-container .fc-week {
    min-height: 30px !important;
  }
  .fc-calender .fc-view-container .fc-month-view table,
  .fc-calender .fc-view-container .fc-basicDay-view table {
    font-size: 14px;
    color: #444444;
  }
  .fc-calender .fc-view-container .fc-month-view table .fc-head tr .fc-head-container,
  .fc-calender .fc-view-container .fc-basicDay-view table .fc-head tr .fc-head-container {
    border: none;
  }
  .fc-calender .fc-view-container .fc-month-view table .fc-head tr .fc-head-container .fc-row,
  .fc-calender .fc-view-container .fc-basicDay-view table .fc-head tr .fc-head-container .fc-row {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
  }
  .fc-calender .fc-view-container .fc-month-view table .fc-head tr .fc-head-container .fc-row .fc-day-header,
  .fc-calender .fc-view-container .fc-basicDay-view table .fc-head tr .fc-head-container .fc-row .fc-day-header {
    border: none;
    text-align: center;
    padding-bottom: 15px;
  }
  @media only screen and (max-width: 479px) {
    .fc-calender .fc-view-container .fc-month-view table .fc-head tr .fc-head-container .fc-row .fc-day-header,
    .fc-calender .fc-view-container .fc-basicDay-view table .fc-head tr .fc-head-container .fc-row .fc-day-header {
      font-size: 13px;
    }
  }
  .fc-calender .fc-view-container .fc-month-view table .fc-body tr td,
  .fc-calender .fc-view-container .fc-basicDay-view table .fc-body tr td {
    border: none;
    text-align: center;
  }
  .fc-calender .fc-view-container .fc-month-view table .fc-body tr td .fc-scroller .fc-day-grid .fc-week .fc-content-skeleton .fc-day-top .fc-day-number,
  .fc-calender .fc-view-container .fc-basicDay-view table .fc-body tr td .fc-scroller .fc-day-grid .fc-week .fc-content-skeleton .fc-day-top .fc-day-number {
    float: initial;
  }
  @media only screen and (max-width: 479px) {
    .fc-calender .fc-view-container .fc-basicWeek-view .fc-head-container .fc-day-header {
      font-size: 10px;
    }
  }
  /*=============== 3.3 Select 2 ==================*/
  .select2-container .select2-selection--single {
    background-color: #f0f1f3;
    border-color: #f0f1f3;
    height: 50px;
  }
  .select2-container .select2-selection--single:focus {
    outline: none;
  }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border: 1px solid #aaaaaa;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    color: #b4b4b4;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 15px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    top: 0;
    right: 15px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
  }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #000 transparent;
  }
  .select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #71bfe4;
  }
  .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #444;
    color: #fff;
  }
  .select2-results__option {
    font-size: 15px;
  }
  /*=======================================================================
  4. ELEMENTS CUSTOM STYLE
  =========================================================================*/
  /*=============== 4.1 Animation ==================*/
  @-webkit-keyframes dropdownanimate {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
  }
  @keyframes dropdownanimate {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 #111111;
      box-shadow: 0 0 0 0 #111111;
    }
    40% {
      -webkit-box-shadow: 0 0 0 30px rgba(255, 194, 17, 0);
      box-shadow: 0 0 0 30px rgba(255, 194, 17, 0);
    }
    70% {
      -webkit-box-shadow: 0 0 0 30px rgba(255, 194, 17, 0);
      box-shadow: 0 0 0 30px rgba(255, 194, 17, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 194, 17, 0);
      box-shadow: 0 0 0 0 rgba(255, 194, 17, 0);
    }
  }
  @keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 #111111;
      box-shadow: 0 0 0 0 #111111;
    }
    40% {
      -webkit-box-shadow: 0 0 0 30px rgba(255, 194, 17, 0);
      box-shadow: 0 0 0 30px rgba(255, 194, 17, 0);
    }
    70% {
      -webkit-box-shadow: 0 0 0 30px rgba(255, 194, 17, 0);
      box-shadow: 0 0 0 30px rgba(255, 194, 17, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 194, 17, 0);
      box-shadow: 0 0 0 0 rgba(255, 194, 17, 0);
    }
  }
  /*=============== 4.2 Button ==================*/
  .fw-btn-fill {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 44px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 10px;
    cursor: pointer;
    z-index: 9;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .fw-btn-fill:hover {
    background: #042954;
  }
  .fw-btn-fill:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .btn-fill-lg {
    display: inline-block;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 12px 45px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .btn-fill-lg:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .btn-fill-xl {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 12px 55px;
    cursor: pointer;
  }
  .btn-fill-xl:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .btn-fill-lmd {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 12px 35px;
    cursor: pointer;
  }
  .btn-fill-lmd:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .btn-fill-md {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 12px 30px;
    cursor: pointer;
  }
  .btn-fill-md:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .btn-fill-sm {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 12px 25px;
    cursor: pointer;
  }
  .btn-fill-sm:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .btn-hover-bluedark:hover {
    background: #042954;
  }
  .btn-hover-yellow:hover {
    background: #ff9d01;
  }
  /*=======================================================================
  5. PAGE LAYOUT STYLE
  =========================================================================*/
  /*=============== 5.1 Content ==================*/
  .breadcrumbs-area {
    padding: 34px 0 35px;
    position: relative;
    z-index: 1;
  }
  .breadcrumbs-area h3 {
    font-weight: 500;
    text-transform: capitalize;
    color: #111111;
    margin-bottom: 8px;
  }
  .breadcrumbs-area ul li {
    display: inline-block;
    color: #fea801;
    font-size: 16px;
    position: relative;
    margin-right: 15px;
    padding-right: 10px;
  }
  .breadcrumbs-area ul li:before {
    content: "\f107";
    font-family: Flaticon;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    right: -10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
    color: #fea801;
  }
  .breadcrumbs-area ul li a {
    color: #646464;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .breadcrumbs-area ul li a:hover {
    color: #fea801;
  }
  .breadcrumbs-area ul li:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .breadcrumbs-area ul li:last-child:before {
    display: none;
  }
  /* #preloader {
    background: #ffffff url('img/preloader.gif') no-repeat scroll center center;
    height: 100%;
    left: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
  } */
  #scrollUp {
    background-color: #042954;
    bottom: 20px;
    color: #ffffff;
    display: block;
    font-size: 18px;
    height: 44px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 44px;
    z-index: 99999;
    border: 2px solid #111111;
    border-radius: 50%;
    transition: all 0.3s ease-out;
  }
  #scrollUp i {
    color: #fff;
  }
  #scrollUp:hover,
  #scrollUp:focus {
    background-color: rgba(11, 11, 11, 0.3);
  }
  #scrollUp:hover i,
  #scrollUp:focus i {
    color: #ffffff;
  }
  #scrollUp {
    animation: blinker 10s infinite;
  }
  .heading-layout1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-bottom: 12px;
  }
  .heading-layout1 .item-title h3 {
    color: #111111;
    font-weight: 500;
    margin-bottom: 0;
  }
  .heading-layout1 .dropdown .dropdown-toggle {
    color: #bcbcbc;
    font-size: 36px;
    display: inline-block;
    line-height: 1;
    padding-bottom: 15px;
    position: relative;
    right: -10px;
  }
  .heading-layout1 .dropdown .dropdown-toggle:after {
    border: none;
  }
  .heading-layout1 .dropdown .dropdown-menu {
    border: none;
    padding: 15px 0 18px;
  }
  .heading-layout1 .dropdown .dropdown-menu .dropdown-item {
    font-size: 15px;
    padding: 7px 20px;
  }
  .heading-layout1 .dropdown .dropdown-menu .dropdown-item i {
    margin-right: 14px;
    width: 22px;
  }
  /*=============== 5.2 Default ==================*/
  a {
    text-decoration: none;
  }
  a:active,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  a:active,
  a:hover,
  a:focus {
    outline: 0 none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }
  .bg-common {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .form-response .alert-danger,
  .form-response .alert.alert-info,
  .form-response .alert.alert-success {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .form-response .alert-danger p,
  .form-response .alert.alert-info p,
  .form-response .alert.alert-success p {
    margin-bottom: 0;
  }
  .tooltip-inner {
    font-size: 12px;
    padding: 5px 10px;
  }
  /*=============== 5.3 Footer ==================*/
  .footer-wrap-layout1 {
    padding: 2rem 0 4rem;
  }
  .copyright {
    color: #707070;
  }
  @media only screen and (max-width: 767px) {
    .copyright {
      text-align: center;
    }
  }
  .copyright a {
    color: #111111;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .copyright a:hover {
    color: #707070;
  }
  /*=============== 5.4 Header Menu ==================*/
  .header-menu-one {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  }