@media only screen and (max-width: 1199px) {
    .dashboard-card-seven .social-media .media .media-body {
      margin-top: 10px;
    }
  }
  .dashboard-card-seven .social-media .social-like {
    font-size: 26px;
    color: #ffffff;
  }
  /*=============== 7.2 Dashboard Page Two ==================*/
  .dashboard-card-ten .card-body .student-info .media {
    margin-bottom: 6px;
  }
  @media only screen and (max-width: 1499px) {
    .dashboard-card-ten .card-body .student-info .media {
      margin-bottom: 30px;
    }
  }
  .dashboard-card-ten .card-body .student-info .media .item-img {
    background-color: #4dd0e1;
    height: 115px;
    width: 115px;
    line-height: 129px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
  .dashboard-card-ten .card-body .student-info .media .item-img img {
    margin-right: 5px;
  }
  .dashboard-card-ten .card-body .student-info .media .media-body .item-title {
    color: #111111;
    font-weight: 500;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 1499px) {
    .dashboard-card-ten .card-body .student-info .info-table .table {
      width: 70%;
    }
  }
  @media only screen and (max-width: 991px) {
    .dashboard-card-ten .card-body .student-info .info-table .table {
      width: 100%;
    }
  }
  .dashboard-card-ten .card-body .student-info .info-table .table tbody tr td {
    border: none;
    padding: 8px;
  }
  .dashboard-card-eleven .card-body .table-box-wrap .search-form-box {
    margin-bottom: 18px;
  }
  /*=============== 7.3 Dashboard Page Three ==================*/
  .dashboard-card-twelve .card-body .kids-details-wrap .kids-details-box {
    display: flex;
    background-color: #fafafa;
    padding: 40px 30px 28px;
  }
  @media only screen and (max-width: 575px) {
    .dashboard-card-twelve .card-body .kids-details-wrap .kids-details-box {
      display: block;
    }
  }
  .dashboard-card-twelve .card-body .kids-details-wrap .kids-details-box .item-img {
    height: 8rem;
    width: 8rem;
    background-color: #4dd0e1;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    margin-right: 3rem;
  }
  @media only screen and (max-width: 575px) {
    .dashboard-card-twelve .card-body .kids-details-wrap .kids-details-box .item-img {
      margin: 0 auto 30px;
    }
  }
  .dashboard-card-twelve .card-body .kids-details-wrap .kids-details-box .item-content {
    flex: 1;
  }
  .dashboard-card-twelve .card-body .kids-details-wrap .kids-details-box .item-content .table tbody tr td {
    border: none;
    padding: 0 10px;
    color: #333333;
  }
  /*=============== 7.4 Dashboard Page Four ==================*/
  .dashboard-summery-two {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
    text-align: center;
  }
  .dashboard-summery-two .item-icon {
    position: relative;
    height: 85px;
    width: 85px;
    line-height: 85px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 6px;
  }
  .dashboard-summery-two .item-icon i:before {
    margin-left: 0;
    font-size: 44px;
  }
  .dashboard-summery-two .item-content .item-title {
    color: #a8a8a8;
    margin-bottom: 2px;
  }
  @media only screen and (max-width: 1199px) {
    .dashboard-summery-two .item-content .item-title {
      font-size: 14px;
    }
  }
  .dashboard-summery-two .item-content .item-number {
    font-size: 28px;
    font-weight: 500;
    color: #111111;
  }
  @media only screen and (max-width: 1499px) {
    .dashboard-summery-two .item-content .item-number {
      font-size: 26px;
    }
  }
  @media only screen and (max-width: 1199px) {
    .dashboard-summery-two .item-content .item-number {
      font-size: 20px;
    }
  }
  /*=======================================================================
  8. HELPER CLASSES
  =========================================================================*/
  /*=============== 8.1 Background ==================*/
  .bg-transparent {
    background-color: transparent;
  }
  .bg-dark-high {
    background-color: #000000;
  }
  .bg-dark-medium {
    background-color: #111111;
  }
  .bg-dark-normal {
    background-color: #222222;
  }
  .bg-dark-low {
    background-color: #444444;
  }
  .bg-light {
    background-color: #ffffff !important;
  }
  .bg-ash {
    background-color: #f0f1f3 !important;
  }
  .bg-red {
    background-color: #ff0000;
  }
  .bg-orange-red {
    background-color: #ff0000;
  }
  .bg-blue {
    background-color: #304ffe;
  }
  .bg-blue-dark {
    background-color: #042954;
  }
  .bg-yellow {
    background-color: #fbd540;
  }
  .bg-yellow2 {
    background-color: #ffb822;
  }
  .bg-yellow3 {
    background-color: #f0a70d;
  }
  .bg-orange {
    background-color: #fbd540;
  }
  .bg-orange-peel {
    background-color: #ffa000;
  }
  .bg-skyblue {
    background-color: #40dfcd;
  }
  .bg-pink {
    background-color: #f939a1;
  }
  .bg-pink2 {
    background-color: #ff5252;
  }
  .bg-pink3 {
    background-color: #ef3232;
  }
  .bg-mauvelous {
    background-color: #f48fb1;
  }
  .bg-light-red {
    background-color: #ffeaea;
  }
  .bg-light-yellow {
    background-color: #fff2d8;
  }
  .bg-light-blue {
    background-color: #e1f1ff;
  }
  .bg-dodger-blue {
    background-color: #2196f3;
  }
  .bg-violet-blue {
    background-color: #a864a8;
  }
  .bg-light-green {
    background-color: #d1f3e0;
  }
  .bg-dark-pastel-green {
    background-color: #00c853;
  }
  .bg-light-sea-green {
    background-color: #1cbbb4;
  }
  .bg-light-green2 {
    background-color: #64d9bc;
  }
  .bg-light-green3 {
    background-color: #4ec9aa;
  }
  .bg-light-magenta {
    background-color: #f3e5f5;
  }
  .bg-martini {
    background-color: #bcaaa4;
  }
  .bg-true-v {
    background-color: #9575cd;
  }
  .bg-wild-strawberry {
    background-color: #ff4081;
  }
  .bg-fb {
    background-color: #546ca9;
  }
  .bg-fb2 {
    background-color: #5867dd;
  }
  .bg-fb3 {
    background-color: #4655c8;
  }
  .bg-gplus {
    background-color: #f81b1b;
  }
  .bg-twitter {
    background-color: #45a0f0;
  }
  .bg-linkedin {
    background-color: #1565c0;
  }
  .bg-git {
    background-color: #997f75;
  }
  .sidebar-color {
    background-color: #042954;
  }
  .bg-gradient-fb {
    background: -webkit-gradient(linear, left top, right top, from(#546ca9), to(#5c77bc));
    background: -webkit-linear-gradient(left, #546ca9, #5c77bc);
    background: -o-linear-gradient(left, #546ca9, #5c77bc);
    background: linear-gradient(to right, #546ca9, #5c77bc);
  }
  .bg-gradient-twitter {
    background: -webkit-gradient(linear, left top, right top, from(#1f89e5), to(#64b5f6));
    background: -webkit-linear-gradient(left, #1f89e5, #64b5f6);
    background: -o-linear-gradient(left, #1f89e5, #64b5f6);
    background: linear-gradient(to right, #1f89e5, #64b5f6);
  }
  .bg-gradient-gplus {
    background: -webkit-gradient(linear, left top, right top, from(#e84642), to(#f81b1b));
    background: -webkit-linear-gradient(left, #e84642, #f81b1b);
    background: -o-linear-gradient(left, #e84642, #f81b1b);
    background: linear-gradient(to right, #e84642, #f81b1b);
  }
  .bg-gradient-linked {
    background: -webkit-gradient(linear, left top, right top, from(#1565c0), to(#314ce0));
    background: -webkit-linear-gradient(left, #1565c0, #314ce0);
    background: -o-linear-gradient(left, #1565c0, #314ce0);
    background: linear-gradient(to right, #1565c0, #314ce0);
  }
  .btn-gradient-yellow {
    background-color: #ffae01;
  }
  .gradient-dodger-blue {
    background: -webkit-gradient(linear, left top, right top, from(#2196f3), to(#21bff3));
    background: -webkit-linear-gradient(left, #2196f3, #21bff3);
    background: -o-linear-gradient(left, #2196f3, #21bff3);
    background: linear-gradient(to right, #2196f3, #21bff3);
  }
  .gradient-orange-peel {
    background: -webkit-gradient(linear, left top, right top, from(#ffa000), to(#ff7200));
    background: -webkit-linear-gradient(left, #ffa000, #ff7200);
    background: -o-linear-gradient(left, #ffa000, #ff7200);
    background: linear-gradient(to right, #ffa000, #ff7200);
  }
  .gradient-pastel-green {
    background: -webkit-gradient(linear, left top, right top, from(#43a047), to(#66bb6a));
    background: -webkit-linear-gradient(left, #43a047, #66bb6a);
    background: -o-linear-gradient(left, #43a047, #66bb6a);
    background: linear-gradient(to right, #43a047, #66bb6a);
  }
  /*=============== 8.2 Border ==================*/
  .border-dodger-blue {
    border: 1px solid #2196f3 !important;
  }
  .border-mauvelous {
    border: 1px solid #f48fb1;
  }
  .border-orange-peel {
    border: 1px solid #ffa000 !important;
  }
  .border-dark-pastel-green {
    border: 1px solid #00c853 !important;
  }
  .border-red {
    border: 1px solid #ff0000 !important;
  }
  .border-true-v {
    border: 1px solid #9575cd;
  }
  .border-violet-blue {
    border: 1px solid #a864a8;
  }
  .border-light-sea-green {
    border: 1px solid #1cbbb4;
  }
  .border-martini {
    border: 1px solid #bcaaa4;
  }
  .border-yellow {
    border: 1px solid #fbd540;
  }
  .border-orange-red {
    border: 1px solid #ff0000;
  }
  .no-radius {
    border-radius: 0 !important;
  }
  .radius-4 {
    border-radius: 4px;
  }
  .radius-30 {
    border-radius: 30px;
  }
  .radius-50 {
    border-radius: 50%;
  }
  /*=============== 8.3 Height ==================*/
  .height-auto {
    height: auto !important;
  }
  .m-height-580 {
    max-height: 58rem !important;
  }
  .m-height-440 {
    max-height: 44rem !important;
  }
  .m-height-660 {
    max-height: 66rem !important;
  }
  /*=============== 8.4 Margin ==================*/
  .mg-0 {
    margin: 0;
  }
  .mg-x-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mg-y-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .mg-t-0 {
    margin-top: 0;
  }
  .mg-r-0 {
    margin-right: 0;
  }
  .mg-b-0 {
    margin-bottom: 0;
  }
  .mg-l-0 {
    margin-left: 0;
  }
  .mg-t-4 {
    margin-top: 4px;
  }
  .mg-t-5 {
    margin-top: 5px;
  }
  .mg-t-6 {
    margin-top: 6px !important;
  }
  .mg-t-7 {
    margin-top: 7px;
  }
  .mg-t-8 {
    margin-top: 8px;
  }
  .mg-t-9 {
    margin-top: 9px;
  }
  .mg-t-10 {
    margin-top: 10px;
  }
  .mg-t-11 {
    margin-top: 11px;
  }
  .mg-t-12 {
    margin-top: 12px;
  }
  .mg-t-13 {
    margin-top: 13px;
  }
  .mg-t-14 {
    margin-top: 14px;
  }
  .mg-t-15 {
    margin-top: 15px;
  }
  .mg-t-16 {
    margin-top: 16px;
  }
  .mg-t-17 {
    margin-top: 17px;
  }
  .mg-t-18 {
    margin-top: 18px;
  }
  .mg-t-19 {
    margin-top: 19px;
  }
  .mg-t-20 {
    margin-top: 20px;
  }
  .mg-t-22 {
    margin-top: 22px;
  }
  .mg-t-23 {
    margin-top: 23px;
  }
  .mg-t-24 {
    margin-top: 24px;
  }
  .mg-t-25 {
    margin-top: 25px;
  }
  .mg-t-26 {
    margin-top: 26px;
  }
  .mg-t-27 {
    margin-top: 27px;
  }
  .mg-t-28 {
    margin-top: 28px;
  }
  .mg-t-29 {
    margin-top: 29px;
  }
  .mg-t-30 {
    margin-top: 30px;
  }
  .mg-l-4 {
    margin-left: 4px;
  }
  .mg-l-5 {
    margin-left: 5px;
  }
  .mg-l-6 {
    margin-left: 6px;
  }
  .mg-l-7 {
    margin-left: 7px;
  }
  .mg-l-8 {
    margin-left: 8px;
  }
  .mg-l-9 {
    margin-left: 9px;
  }
  .mg-l-10 {
    margin-left: 10px;
  }
  .mg-l-11 {
    margin-left: 11px;
  }
  .mg-l-12 {
    margin-left: 12px;
  }
  .mg-l-13 {
    margin-left: 13px;
  }
  .mg-l-14 {
    margin-left: 14px;
  }
  .mg-l-15 {
    margin-left: 15px;
  }
  .mg-l-16 {
    margin-left: 16px;
  }
  .mg-l-17 {
    margin-left: 17px;
  }
  .mg-l-18 {
    margin-left: 18px;
  }
  .mg-l-19 {
    margin-left: 19px;
  }
  .mg-l-20 {
    margin-left: 20px;
  }
  .mg-l-22 {
    margin-left: 22px;
  }
  .mg-b-4 {
    margin-bottom: 4px;
  }
  .mg-b-5 {
    margin-bottom: 5px;
  }
  .mg-b-6 {
    margin-bottom: 6px !important;
  }
  .mg-b-7 {
    margin-bottom: 7px;
  }
  .mg-b-8 {
    margin-bottom: 8px;
  }
  .mg-b-9 {
    margin-bottom: 9px;
  }
  .mg-b-10 {
    margin-bottom: 10px;
  }
  .mg-b-11 {
    margin-bottom: 11px;
  }
  .mg-b-12 {
    margin-bottom: 12px;
  }
  .mg-b-13 {
    margin-bottom: 13px;
  }
  .mg-b-14 {
    margin-bottom: 14px;
  }
  .mg-b-15 {
    margin-bottom: 15px;
  }
  .mg-b-16 {
    margin-bottom: 16px;
  }
  .mg-b-17 {
    margin-bottom: 17px;
  }
  .mg-b-18 {
    margin-bottom: 18px;
  }
  .mg-b-19 {
    margin-bottom: 19px;
  }
  .mg-b-20 {
    margin-bottom: 20px;
  }
  .mg-b-22 {
    margin-bottom: 22px;
  }
  .mg-b-25 {
    margin-bottom: 25px;
  }
  .mg-r-4 {
    margin-right: 4px;
  }
  .mg-r-5 {
    margin-right: 5px;
  }
  .mg-r-6 {
    margin-right: 6px;
  }
  .mg-r-7 {
    margin-right: 7px;
  }
  .mg-r-8 {
    margin-right: 8px;
  }
  .mg-r-9 {
    margin-right: 9px;
  }
  .mg-r-10 {
    margin-right: 10px;
  }
  .mg-r-11 {
    margin-right: 11px;
  }
  .mg-r-12 {
    margin-right: 12px;
  }
  .mg-r-13 {
    margin-right: 13px;
  }
  .mg-r-14 {
    margin-right: 14px;
  }
  .mg-r-15 {
    margin-right: 15px;
  }
  .mg-r-16 {
    margin-right: 16px;
  }
  .mg-r-17 {
    margin-right: 17px;
  }
  .mg-r-18 {
    margin-right: 18px;
  }
  .mg-r-19 {
    margin-right: 19px;
  }
  .mg-r-20 {
    margin-right: 20px;
  }
  .mg-r-22 {
    margin-right: 22px;
  }
  /*=============== 8.5 Misc ==================*/
  .pseudo-bg-Aquamarine:after {
    background-color: #1de9b6;
  }
  .pseudo-bg-blue:after {
    background-color: #417dfc;
  }
  .pseudo-bg-yellow:after {
    background-color: #ffaa01;
  }
  .pseudo-bg-red:after {
    background-color: #ff0000;
  }
  .pseudo-bg-pink:after {
    background-color: #f939a1;
  }
  .header-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .shadow-dodger-blue {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(33, 150, 243, 0.4);
    box-shadow: 0px 6px 8px 0px rgba(33, 150, 243, 0.4);
  }
  .shadow-dark-pastel-green {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 200, 83, 0.4);
    box-shadow: 0px 6px 8px 0px rgba(0, 200, 83, 0.4);
  }
  .shadow-true-v {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(149, 117, 205, 0.4);
    box-shadow: 0px 6px 8px 0px rgba(149, 117, 205, 0.4);
  }
  .shadow-red {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(255, 0, 0, 0.4);
    box-shadow: 0px 6px 8px 0px rgba(255, 0, 0, 0.4);
  }
  .shadow-martini {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(188, 170, 164, 0.4);
    box-shadow: 0px 6px 8px 0px rgba(188, 174, 164, 0.4);
  }
  .shadow-violet-blue {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(168, 100, 168, 0.4);
    box-shadow: 0px 6px 8px 0px rgba(168, 100, 168, 0.4);
  }
  .shadow-light-sea-green {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(28, 187, 180, 0.4);
    box-shadow: 0px 6px 8px 0px rgba(28, 187, 180, 0.4);
  }
  .shadow-orange-peel {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(255, 160, 0, 0.4);
    box-shadow: 0px 6px 8px 0px rgba(255, 160, 0, 0.4);
  }
  .shadow-orange-red {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(255, 61, 0, 0.4);
    box-shadow: 0px 6px 8px 0px rgba(255, 61, 0, 0.4);
  }
  .hover-fb:hover {
    background: #485c8f;
  }
  .hover-twitter:hover {
    background: #1f89e5;
  }
  .hover-gplus:hover {
    background: #db1a1a;
  }
  .hover-linked:hover {
    background: #1559a7;
  }
  .alert {
    padding: 12px 25px;
  }
  /*=============== 8.6 Padding ==================*/
  .pd-0 {
    padding: 0;
  }
  .pd-x-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .pd-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pd-y-45 {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }
  .pd-t-0 {
    padding-top: 0;
  }
  .pd-r-0 {
    padding-right: 0;
  }
  .pd-b-0 {
    padding-bottom: 0;
  }
  .pd-l-0 {
    padding-left: 0;
  }
  .pd-t-4 {
    padding-top: 4px;
  }
  .pd-t-5 {
    padding-top: 5px;
  }
  .pd-t-6 {
    padding-top: 6px;
  }
  .pd-t-7 {
    padding-top: 7px;
  }
  .pd-t-8 {
    padding-top: 8px;
  }
  .pd-t-9 {
    padding-top: 9px;
  }
  .pd-t-10 {
    padding-top: 10px;
  }
  .pd-t-11 {
    padding-top: 11px;
  }
  .pd-t-12 {
    padding-top: 12px;
  }
  .pd-t-13 {
    padding-top: 13px;
  }
  .pd-t-14 {
    padding-top: 14px;
  }
  .pd-t-15 {
    padding-top: 15px;
  }
  .pd-t-16 {
    padding-top: 16px;
  }
  .pd-t-17 {
    padding-top: 17px;
  }
  .pd-t-18 {
    padding-top: 18px;
  }
  .pd-t-19 {
    padding-top: 19px;
  }
  .pd-t-20 {
    padding-top: 20px;
  }
  .pd-t-22 {
    padding-top: 22px;
  }
  .pd-l-4 {
    padding-left: 4px;
  }
  .pd-l-5 {
    padding-left: 5px;
  }
  .pd-l-6 {
    padding-left: 6px;
  }
  .pd-l-7 {
    padding-left: 7px;
  }
  .pd-l-8 {
    padding-left: 8px;
  }
  .pd-l-9 {
    padding-left: 9px;
  }
  .pd-l-10 {
    padding-left: 10px;
  }
  .pd-l-11 {
    padding-left: 11px;
  }
  .pd-l-12 {
    padding-left: 12px;
  }
  .pd-l-13 {
    padding-left: 13px;
  }
  .pd-l-14 {
    padding-left: 14px;
  }
  .pd-l-15 {
    padding-left: 15px;
  }
  .pd-l-16 {
    padding-left: 16px;
  }
  .pd-l-17 {
    padding-left: 17px;
  }
  .pd-l-18 {
    padding-left: 18px;
  }
  .pd-l-19 {
    padding-left: 19px;
  }
  .pd-l-20 {
    padding-left: 20px;
  }
  .pd-l-22 {
    padding-left: 22px;
  }
  .pd-b-4 {
    padding-bottom: 4px;
  }
  .pd-b-5 {
    padding-bottom: 5px;
  }
  .pd-b-6 {
    padding-bottom: 6px;
  }
  .pd-b-7 {
    padding-bottom: 7px;
  }
  .pd-b-8 {
    padding-bottom: 8px;
  }
  .pd-b-9 {
    padding-bottom: 9px;
  }
  .pd-b-10 {
    padding-bottom: 10px;
  }
  .pd-b-11 {
    padding-bottom: 11px;
  }
  .pd-b-12 {
    padding-bottom: 12px;
  }
  .pd-b-13 {
    padding-bottom: 13px;
  }
  .pd-b-14 {
    padding-bottom: 14px;
  }
  .pd-b-15 {
    padding-bottom: 15px;
  }
  .pd-b-16 {
    padding-bottom: 16px;
  }
  .pd-b-17 {
    padding-bottom: 17px;
  }
  .pd-b-18 {
    padding-bottom: 18px;
  }
  .pd-b-19 {
    padding-bottom: 19px;
  }
  .pd-b-20 {
    padding-bottom: 20px;
  }
  .pd-b-22 {
    padding-bottom: 22px;
  }
  .pd-r-4 {
    padding-right: 4px;
  }
  .pd-r-5 {
    padding-right: 5px;
  }
  .pd-r-6 {
    padding-right: 6px;
  }
  .pd-r-7 {
    padding-right: 7px;
  }
  .pd-r-8 {
    padding-right: 8px;
  }
  .pd-r-9 {
    padding-right: 9px;
  }
  .pd-r-10 {
    padding-right: 10px;
  }
  .pd-r-11 {
    padding-right: 11px;
  }
  .pd-r-12 {
    padding-right: 12px;
  }
  .pd-r-13 {
    padding-right: 13px;
  }
  .pd-r-14 {
    padding-right: 14px;
  }
  .pd-r-15 {
    padding-right: 15px;
  }
  .pd-r-16 {
    padding-right: 16px;
  }
  .pd-r-17 {
    padding-right: 17px;
  }
  .pd-r-18 {
    padding-right: 18px;
  }
  .pd-r-19 {
    padding-right: 19px;
  }
  .pd-r-20 {
    padding-right: 20px;
  }
  .pd-r-22 {
    padding-right: 22px;
  }
  /*=============== 8.7 Position ==================*/
  .position-relative {
    position: relative;
  }
  .position-absolute {
    position: absolute;
  }
  .position-fixed {
    position: fixed;
  }
  .position-static {
    position: static;
  }
  /*=============== 8.8 Text ==================*/
  .text-10 {
    font-size: 10px;
  }
  .text-11 {
    font-size: 11px;
  }
  .text-12 {
    font-size: 12px;
  }
  .text-13 {
    font-size: 13px;
  }
  .text-14 {
    font-size: 14px;
  }
  .text-15 {
    font-size: 15px;
  }
  .text-16 {
    font-size: 16px;
  }
  .text-17 {
    font-size: 17px;
  }
  .text-18 {
    font-size: 18px;
  }
  .text-19 {
    font-size: 19px;
  }
  .text-20 {
    font-size: 20px;
  }
  .text-24 {
    font-size: 24px;
  }
  .text-28 {
    font-size: 28px;
  }
  .text-30 {
    font-size: 30px;
  }
  .text-32 {
    font-size: 32px;
  }
  .text-34 {
    font-size: 34px;
  }
  .font-bold {
    font-weight: 700;
  }
  .font-semibold {
    font-weight: 600;
  }
  .font-medium {
    font-weight: 500;
  }
  .font-normal {
    font-weight: 400;
  }
  .font-light {
    font-weight: 300;
  }
  .text-light {
    color: #ffffff !important;
  }
  .text-mute-high {
    color: #9f9f9f;
  }
  .text-mute-medium {
    color: #a5a5a5;
  }
  .text-mute-low {
    color: #a8a8a8;
  }
  .text-dark-high {
    color: #000000;
  }
  .text-dark-medium {
    color: #111111;
  }
  .text-dark-normal {
    color: #222222;
  }
  .text-dark-low {
    color: #444444;
  }
  .text-blue {
    color: #3f7afc;
  }
  .text-green {
    color: #3cb878;
  }
  .text-orange {
    color: #ffa001;
  }
  .text-red {
    color: #ff0000;
  }
  .text-magenta {
    color: #8e24aa;
  }
  .text-dodger-blue {
    color: #2196f3;
  }
  .text-mauvelous {
    color: #f48fb1;
  }
  .text-orange-peel {
    color: #ffa000;
  }
  .text-dark-pastel-green {
    color: #00c853;
  }
  .text-true-v {
    color: #9575cd;
  }
  .text-violet-blue {
    color: #a864a8;
  }
  .text-light-sea-green {
    color: #1cbbb4;
  }
  .text-martini {
    color: #bcaaa4;
  }
  .text-yellow {
    color: #fbd540;
  }
  .text-orange-red {
    color: #ff0000;
  }
  