.account-settings-box .user-details-box .item-img img {
    border-radius: 50%;
  }
  .account-settings-box .user-details-box .item-content {
    flex: 1;
  }
  .account-settings-box .user-details-box .item-content .info-table .table {
    width: 100%;
  }
  .account-settings-box .user-details-box .item-content .info-table .table tr td {
    border: none;
    padding: 15px 10px;
    font-size: 16px;
  }
  .account-settings-box .all-user-box .media {
    align-items: center;
    background-color: #f7f7f7;
    padding: 20px 30px;
    margin-bottom: 2px;
    border-radius: 4px;
    cursor: pointer;
  }
  @media only screen and (max-width: 575px) {
    .account-settings-box .all-user-box .media {
      text-align: center;
    }
  }
  .account-settings-box .all-user-box .media .item-img img {
    border-radius: 50%;
  }
  .account-settings-box .all-user-box .media .media-body .item-title {
    font-weight: 500;
    color: #111111;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .account-settings-box .all-user-box .media .media-body .item-subtitle {
    font-size: 15px;
  }
  .account-settings-box .all-user-box .media.active {
    background-color: #debbbb;
  }
  /*=============== 6.5 UI Elements ==================*/
  .ui-btn-wrap ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 14px;
  }
  .ui-btn-wrap ul li:last-child {
    margin-right: 0;
  }
  .ui-grid-box {
    background-color: #f2f2f2;
    padding: 12px 25px;
    margin-bottom: 30px;
  }
  .progress-bar-card {
    height: auto;
  }
  .progress-bar-card .card-body .basic-progress-bar .progress {
    margin-bottom: 30px;
    height: 7px;
  }
  .progress-bar-card .card-body .stripe-progress-bar .progress {
    height: 20px;
    margin-bottom: 20px;
  }
  .progress-bar-card .card-body .gradient-progress-bar .progress {
    height: 30px;
    margin-bottom: 20px;
  }
  .progress-bar-card .card-body .gradient-progress-bar .progress .progress-bar {
    text-align: right;
    padding-right: 10px;
    font-size: 18px;
  }
  .progress-bar-card .card-body .vertical-progress-bar .progress-bar-vertical {
    width: 70px;
    min-height: 200px;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
  }
  .progress-bar-card .card-body .vertical-progress-bar .progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
    font-size: 18px;
    font-weight: 500;
  }
  .ui-tab-card {
    height: auto;
  }
  .ui-tab-card .card-body .basic-tab .nav-tabs .nav-item .nav-link {
    color: #646464;
    padding: 10px 50px;
  }
  @media only screen and (max-width: 991px) {
    .ui-tab-card .card-body .basic-tab .nav-tabs .nav-item .nav-link {
      padding: 10px 30px;
    }
  }
  @media only screen and (max-width: 575px) {
    .ui-tab-card .card-body .basic-tab .nav-tabs .nav-item .nav-link {
      padding: 10px;
    }
  }
  .ui-tab-card .card-body .basic-tab .nav-tabs .nav-item .nav-link.active {
    color: #3d5afe;
  }
  .ui-tab-card .card-body .basic-tab .tab-content .tab-pane {
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 25px 30px 5px;
  }
  .ui-tab-card .card-body .custom-tab .nav-tabs {
    border-bottom: 4px solid #dee2e6;
  }
  .ui-tab-card .card-body .custom-tab .nav-tabs .nav-item .nav-link {
    margin-right: 20px;
    padding-bottom: 8px;
    border: none;
    color: #646464;
    position: relative;
  }
  .ui-tab-card .card-body .custom-tab .nav-tabs .nav-item .nav-link:after {
    content: "";
    height: 4px;
    width: 0;
    background-color: #80deea;
    position: absolute;
    bottom: -3px;
    left: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .ui-tab-card .card-body .custom-tab .nav-tabs .nav-item .nav-link:hover:after {
    width: 100%;
  }
  .ui-tab-card .card-body .custom-tab .nav-tabs .nav-item .nav-link.active {
    background-color: transparent;
    color: #80deea;
  }
  .ui-tab-card .card-body .custom-tab .nav-tabs .nav-item .nav-link.active:after {
    width: 100%;
  }
  .ui-tab-card .card-body .custom-tab .tab-content .tab-pane {
    padding-top: 25px;
  }
  .ui-tab-card .card-body .border-nav-tab .nav-tabs {
    border: 1px solid #dee2e6;
  }
  .ui-tab-card .card-body .border-nav-tab .nav-tabs .nav-item .nav-link {
    color: #646464;
    border-top: none;
    border-left: none;
    border-right: 1px solid;
    border-color: #dee2e6;
    border-radius: 0;
    padding: 10px 30px;
  }
  .ui-tab-card .card-body .border-nav-tab .nav-tabs .nav-item .nav-link:hover {
    background-color: #f57c00;
    border-color: #f57c00;
    color: #ffffff;
    box-shadow: 0px 5px 13px 0px rgba(245, 124, 0, 0.4);
  }
  .ui-tab-card .card-body .border-nav-tab .nav-tabs .nav-item .nav-link.active {
    background-color: #f57c00;
    color: #ffffff;
    box-shadow: 0px 5px 13px 0px rgba(245, 124, 0, 0.4);
    border-color: #f57c00;
  }
  .ui-tab-card .card-body .border-nav-tab .tab-content {
    padding-top: 30px;
  }
  .ui-tab-card .card-body .vertical-tab {
    display: flex;
  }
  @media only screen and (max-width: 767px) {
    .ui-tab-card .card-body .vertical-tab {
      display: block;
    }
  }
  .ui-tab-card .card-body .vertical-tab .nav-tabs {
    min-width: 140px;
    margin-right: 30px;
    border-bottom: none;
  }
  @media only screen and (max-width: 767px) {
    .ui-tab-card .card-body .vertical-tab .nav-tabs {
      margin-bottom: 30px;
    }
  }
  .ui-tab-card .card-body .vertical-tab .nav-tabs .nav-item .nav-link {
    color: #646464;
    border: 1px solid;
    border-color: #dee2e6;
    border-radius: 4px;
    padding: 10px 30px;
    position: relative;
    height: 100%;
  }
  .ui-tab-card .card-body .vertical-tab .nav-tabs .nav-item .nav-link:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid #ff1744;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
  }
  .ui-tab-card .card-body .vertical-tab .nav-tabs .nav-item .nav-link:hover {
    background-color: #ff1744;
    border-color: #ff1744;
    color: #ffffff;
  }
  .ui-tab-card .card-body .vertical-tab .nav-tabs .nav-item .nav-link:hover:after {
    visibility: visible;
    opacity: 1;
    right: -10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .ui-tab-card .card-body .vertical-tab .nav-tabs .nav-item .nav-link.active {
    background-color: #ff1744;
    color: #ffffff;
    border-color: #ff1744;
  }
  .ui-tab-card .card-body .vertical-tab .nav-tabs .nav-item .nav-link.active:after {
    visibility: visible;
    opacity: 1;
    right: -10px;
  }
  .ui-tab-card .card-body .icon-tab .nav-tabs {
    border: none;
  }
  .ui-tab-card .card-body .icon-tab .nav-tabs .nav-item .nav-link {
    margin-right: 6px;
    padding-bottom: 8px;
    color: #646464;
    border-radius: 4px;
    padding: 10px 20px;
  }
  .ui-tab-card .card-body .icon-tab .nav-tabs .nav-item .nav-link:hover {
    background-color: #7cc576 !important;
    border-color: #7cc576 !important;
  }
  .ui-tab-card .card-body .icon-tab .nav-tabs .nav-item .nav-link:hover i {
    color: #ffffff !important;
  }
  .ui-tab-card .card-body .icon-tab .nav-tabs .nav-item .nav-link.active {
    background-color: #7cc576 !important;
    border-color: #7cc576 !important;
  }
  .ui-tab-card .card-body .icon-tab .nav-tabs .nav-item .nav-link.active i {
    color: #ffffff !important;
  }
  .ui-tab-card .card-body .icon-tab .tab-content {
    padding-top: 26px;
  }
  .ui-alart-box .dismiss-alart .alert-dismissible .close {
    top: 50%;
    transform: translateY(-50%);
  }
  .ui-alart-box .dismiss-alart .alert-dismissible .close span {
    font-size: 24px;
    color: #7c7c7c;
  }
  .ui-alart-box .icon-color-alart .icon-alart {
    color: #ffffff;
    padding-left: 75px;
    position: relative;
    border: none;
  }
  .ui-alart-box .icon-color-alart .icon-alart i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px 0 0 3px;
    font-size: 16px;
    height: 99%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ui-modal-box .modal-box {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 25px;
    margin-bottom: 10px;
  }
  .ui-modal-box .modal-box:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .ui-modal-box .modal-box label {
    display: block;
    margin-bottom: 10px;
  }
  .ui-modal-box .modal-box .modal .success-modal-content .modal-content .modal-body {
    padding: 40px;
  }
  @media only screen and (max-width: 479px) {
    .ui-modal-box .modal-box .modal .success-modal-content .modal-content .modal-body {
      text-align: center;
    }
  }
  .ui-modal-box .modal-box .modal .success-modal-content .modal-content .modal-body .success-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 479px) {
    .ui-modal-box .modal-box .modal .success-modal-content .modal-content .modal-body .success-message {
      display: block;
    }
  }
  .ui-modal-box .modal-box .modal .success-modal-content .modal-content .modal-body .success-message .item-title {
    font-size: 16px;
    color: #646464;
    font-style: italic;
    margin-bottom: 0;
    flex: 1;
  }
  .ui-modal-box .modal-box .modal .success-modal-content .modal-content .modal-body .success-message .item-icon {
    margin-right: 45px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    height: 44px;
    width: 44px;
    line-height: 44px;
    border-radius: 50%;
    background-color: #92c755;
    position: relative;
  }
  @media only screen and (max-width: 479px) {
    .ui-modal-box .modal-box .modal .success-modal-content .modal-content .modal-body .success-message .item-icon {
      margin: 0 0 35px 0;
    }
  }
  .ui-modal-box .modal-box .modal .success-modal-content .modal-content .modal-body .success-message .item-icon:before {
    content: "";
    height: 58px;
    width: 58px;
    border: 8px solid rgba(146, 199, 85, 0.7);
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: -7px;
  }
  .ui-modal-box .modal-box .modal .success-modal-content .modal-content .modal-body .success-message .item-icon:after {
    content: "";
    height: 78px;
    width: 78px;
    border: 10px solid rgba(146, 199, 85, 0.3);
    border-radius: 50%;
    position: absolute;
    top: -17px;
    left: -17px;
  }
  .ui-modal-box .modal-box .left-slide-modal .modal-dialog {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .ui-modal-box .modal-box .left-slide-modal .modal-dialog .modal-content {
    height: 100%;
  }
  .ui-modal-box .modal-box .left-slide-modal.show .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .ui-modal-box .modal-box .right-slide-modal .modal-dialog {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .ui-modal-box .modal-box .right-slide-modal .modal-dialog .modal-content {
    height: 100%;
  }
  .ui-modal-box .modal-box .right-slide-modal.show .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body {
    position: relative;
    padding: 50px 50px 30px;
  }
  @media only screen and (max-width: 479px) {
    .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body {
      padding: 50px 20px 30px;
    }
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .close-btn {
    border-bottom: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .close-btn .close {
    font-size: 24px;
    height: 40px;
    width: 40px;
    background-color: #f8f8f8;
    border-radius: 50%;
    opacity: 1;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .close-btn .close:focus {
    outline: none;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .close-btn .close span {
    text-shadow: none;
    color: #444444;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .item-logo {
    text-align: center;
    margin-bottom: 40px;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group {
    position: relative;
    margin-bottom: 15px;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group .form-control {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    padding: 5px 35px 5px 20px;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group > input {
    height: 50px;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group i {
    position: absolute;
    top: 60%;
    right: 18px;
    font-size: 15px;
    color: #9f9f9f;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group input.form-control::-webkit-input-placeholder,
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group textarea.form-control::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 15px;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group input.form-control::-moz-placeholder,
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group textarea.form-control::-moz-placeholder {
    color: #cccccc;
    font-size: 15px;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group input.form-control:-ms-input-placeholder,
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group textarea.form-control:-ms-input-placeholder {
    color: #cccccc;
    font-size: 15px;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group .form-check .form-check-label {
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    font-weight: 500;
    color: #444444;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group .form-check .form-check-label:before {
    top: 1px;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group .form-check .form-check-label:after {
    top: 2px;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group .login-btn {
    cursor: pointer;
    width: 100%;
    border: none;
    position: relative;
    text-align: center;
    display: block;
    font-weight: 700;
    color: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, from(#042954), to(#0b4776));
    background: -o-linear-gradient(bottom, #042954, #0b4776);
    background: linear-gradient(to top, #042954, #0b4776);
    border-radius: 4px;
    padding: 16px 10px;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group .login-btn:after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #0b4776, #042954);
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .ui-modal-box .modal-box .sign-up-modal .modal-dialog .modal-content .modal-body .login-form .form-group .login-btn:hover:after {
    visibility: visible;
    opacity: 1;
  }
  .ui-modal-box .modal-box .notification-modal .modal-dialog {
    position: absolute;
    bottom: 20px;
    right: 0;
    margin: 50px;
    max-width: 300px;
  }
  .ui-modal-box .modal-box .notification-modal .modal-dialog .modal-content {
    background-color: #042954;
  }
  .ui-modal-box .modal-box .notification-modal .modal-dialog .modal-content .modal-body {
    text-align: center;
    padding: 50px 20px 20px;
  }
  .ui-modal-box .modal-box .notification-modal .modal-dialog .modal-content .modal-body .item-title {
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .ui-modal-box .modal-box .notification-modal .modal-dialog .modal-content .modal-body p {
    color: #dedede;
  }
  .ui-modal-box .modal-box .notification-modal .modal-dialog .modal-content .modal-body .close-btn button {
    cursor: pointer;
    display: block;
    margin: 0 auto 15px;
  }
  .ui-modal-box .modal-box .notification-modal .modal-dialog .modal-content .modal-body .close-btn button:focus {
    outline: none;
  }
  .ui-modal-box .modal-box .notification-modal .modal-dialog .modal-content .modal-body .close-btn .item-btn {
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    color: #111111;
    font-weight: 500;
    width: 100%;
    padding: 8px 10px;
  }
  .ui-modal-box .modal-box .notification-modal .modal-dialog .modal-content .modal-body .close-btn .close-btn {
    background: none;
    border: none;
    color: #ffffff;
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog {
    position: absolute;
    bottom: 20px;
    right: 0;
    margin: 50px;
    max-width: 300px;
  }
  @media only screen and (max-width: 767px) {
    .ui-modal-box .modal-box .feedback-modal .modal-dialog {
      top: 0;
    }
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog .modal-content .modal-body {
    text-align: center;
    padding: 50px 20px 20px;
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog .modal-content .modal-body .close-btn {
    border-bottom: none;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog .modal-content .modal-body .close-btn .close {
    font-size: 24px;
    height: 40px;
    width: 40px;
    background-color: #f8f8f8;
    border-radius: 50%;
    opacity: 1;
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog .modal-content .modal-body .close-btn .close:focus {
    outline: none;
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog .modal-content .modal-body .close-btn .close span {
    text-shadow: none;
    color: #444444;
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog .modal-content .modal-body .item-title {
    font-size: 24px;
    font-weight: 500;
    color: #111111;
    margin-bottom: 10px;
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog .modal-content .modal-body .feedback-form .form-group {
    text-align: left;
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog .modal-content .modal-body .feedback-form .form-group .form-check label {
    padding-left: 30px;
    font-weight: 500;
    color: #444444;
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog .modal-content .modal-body .feedback-form .form-group .item-btn {
    margin-top: 20px;
    background-color: #042954;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto 15px;
  }
  .ui-modal-box .modal-box .feedback-modal .modal-dialog .modal-content .modal-body .feedback-form .form-group .item-btn:focus {
    outline: none;
  }
  /*=============== 6.6 Login Page ==================*/
  .login-page-wrap {
    background-image: url('img/figure/login-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  @media only screen and (max-width: 1024px) {
    .login-page-wrap {
      position: relative;
      height: auto;
    }
  }
  .login-page-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
  }
  @media only screen and (max-width: 575px) {
    .login-page-content {
      padding: 50px 20px;
    }
  }
  .login-page-content .login-box {
    min-width: 470px;
    padding: 6rem 7rem;
    border-radius: 4px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 575px) {
    .login-page-content .login-box {
      min-width: 300px;
      padding: 6rem 4rem;
    }
  }
  @media only screen and (max-width: 479px) {
    .login-page-content .login-box {
      padding: 6rem 2rem;
    }
  }
  .login-page-content .login-box .item-logo {
    text-align: center;
    margin-bottom: 40px;
  }
  .login-page-content .login-box .login-form .form-group {
    position: relative;
    margin-bottom: 18px;
  }
  .login-page-content .login-box .login-form .form-group > label {
    font-size: 15px;
    font-weight: 500;
    color: #444444;
    margin-bottom: 10px;
  }
  .login-page-content .login-box .login-form .form-group .form-control {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    padding: 5px 35px 5px 20px;
  }
  .login-page-content .login-box .login-form .form-group > input {
    height: 50px;
  }
  .login-page-content .login-box .login-form .form-group i {
    position: absolute;
    top: 60%;
    right: 18px;
    font-size: 15px;
    color: #9f9f9f;
  }
  .login-page-content .login-box .login-form .form-group input.form-control::-webkit-input-placeholder,
  .login-page-content .login-box .login-form .form-group textarea.form-control::-webkit-input-placeholder {
    color: #adadad;
    font-size: 15px;
  }
  .login-page-content .login-box .login-form .form-group input.form-control::-moz-placeholder,
  .login-page-content .login-box .login-form .form-group textarea.form-control::-moz-placeholder {
    color: #adadad;
    font-size: 15px;
  }
  .login-page-content .login-box .login-form .form-group input.form-control:-ms-input-placeholder,
  .login-page-content .login-box .login-form .form-group textarea.form-control:-ms-input-placeholder {
    color: #adadad;
    font-size: 15px;
  }
  .login-page-content .login-box .login-form .form-group .form-check .form-check-label {
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    font-weight: 500;
    color: #444444;
  }
  .login-page-content .login-box .login-form .form-group .form-check .form-check-label:before {
    top: 1px;
  }
  .login-page-content .login-box .login-form .form-group .form-check .form-check-label:after {
    top: 2px;
  }
  .login-page-content .login-box .login-form .form-group .forgot-btn {
    font-size: 14px;
    color: #ff0000;
    font-weight: 500;
  }
  .login-page-content .login-box .login-form .form-group .login-btn {
    cursor: pointer;
    width: 100%;
    border: none;
    margin-top: 30px;
    position: relative;
    text-align: center;
    display: block;
    font-weight: 700;
    color: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, from(#042954), to(#0b4776));
    background: -o-linear-gradient(bottom, #042954, #0b4776);
    background: linear-gradient(to top, #042954, #0b4776);
    border-radius: 4px;
    padding: 16px 10px;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .login-page-content .login-box .login-form .form-group .login-btn:after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #0b4776, #042954);
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .login-page-content .login-box .login-form .form-group .login-btn:hover:after {
    visibility: visible;
    opacity: 1;
  }
  .login-page-content .login-box .login-social {
    text-align: center;
  }
  .login-page-content .login-box .login-social p {
    margin-bottom: 0;
  }
  .login-page-content .login-box .login-social ul {
    margin-top: 10px;
  }
  .login-page-content .login-box .login-social ul li {
    display: inline-block;
    margin-right: 2px;
  }
  .login-page-content .login-box .login-social ul li:last-child {
    margin-right: 0;
  }
  .login-page-content .login-box .login-social ul li a {
    width: 45px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .login-page-content .login-box .login-social ul li a:hover {
    background-color: #ffaa01;
  }
  .login-page-content .sign-up {
    color: #ffffff;
  }
  .login-page-content .sign-up a {
    color: #ffffff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .login-page-content .sign-up a:hover {
    color: #ffaa01;
  }
  /*=======================================================================
  7. DASHBOARD STYLES 
  =========================================================================*/
  /*=============== 7.1 Dashboard Page One ==================*/
  .dashboard-page-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .dashboard-content-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 30px;
  }
  @media only screen and (max-width: 767px) {
    .dashboard-content-one {
      padding: 0 15px;
    }
  }
  .dashboard-summery-one {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 22px 28px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
  }
  .dashboard-summery-one .item-icon {
    position: relative;
    height: 85px;
    width: 85px;
    line-height: 85px;
    border-radius: 50%;
    text-align: center;
  }
  .dashboard-summery-one .item-icon i:before {
    margin-left: 0;
    font-size: 44px;
  }
  .dashboard-summery-one .item-content {
    text-align: right;
  }
  .dashboard-summery-one .item-content .item-title {
    color: #a8a8a8;
    margin-bottom: 2px;
  }
  .dashboard-summery-one .item-content .item-number {
    font-size: 20px;
    font-weight: 500;
    color: #111111;
  }
  @media only screen and (max-width: 991px) {
    .dashboard-summery-one .item-content .item-number {
      font-size: 20px;
    }
  }
  .dashboard-card-one .card-body .earning-report {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 28px;
  }
  @media only screen and (max-width: 991px) {
    .dashboard-card-one .card-body .earning-report {
      margin-bottom: 20px;
      display: block;
    }
  }
  .dashboard-card-one .card-body .earning-report .item-content .single-item {
    display: inline-block;
    margin-right: 40px;
    padding-left: 34px;
    position: relative;
  }
  @media only screen and (max-width: 991px) {
    .dashboard-card-one .card-body .earning-report .item-content .single-item {
      margin-bottom: 20px;
    }
  }
  .dashboard-card-one .card-body .earning-report .item-content .single-item:after {
    content: "";
    height: 18px;
    width: 18px;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .dashboard-card-one .card-body .earning-report .item-content .single-item:last-child {
    margin-right: 0;
  }
  .dashboard-card-one .card-body .earning-report .item-content .single-item h4 {
    color: #9f9f9f;
    margin-bottom: 4px;
    font-size: 16px;
  }
  .dashboard-card-one .card-body .earning-report .item-content .single-item span {
    padding-left: 13px;
    font-size: 22px;
    font-weight: 500;
    color: #222222;
    position: relative;
    display: inline-block;
  }
  @media only screen and (max-width: 991px) {
    .dashboard-card-one .card-body .earning-report .item-content .single-item span {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 767px) {
    .dashboard-card-one .card-body .earning-report .item-content .single-item span {
      font-size: 18px;
    }
  }
  .dashboard-card-one .card-body .earning-report .item-content .single-item span:after {
    content: "$";
    font-size: 16px;
    color: #646464;
    font-weight: 500;
    position: absolute;
    top: 3px;
    left: 0;
  }
  .dashboard-card-one .card-body .earning-report .dropdown {
    text-align: right;
  }
  @media only screen and (max-width: 991px) {
    .dashboard-card-one .card-body .earning-report .dropdown {
      display: none;
    }
  }
  .dashboard-card-one .card-body .earning-report .dropdown .date-dropdown-toggle {
    color: #a7a7a7;
    position: relative;
    padding-right: 24px;
  }
  .dashboard-card-one .card-body .earning-report .dropdown .date-dropdown-toggle:after {
    content: "\f108";
    font-family: Flaticon;
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    right: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
    color: #222222;
  }
  .dashboard-card-one .card-body .earning-report .dropdown .dropdown-menu {
    top: 20px !important;
    min-width: 15rem;
    animation: none;
  }
  .dashboard-card-one .card-body .earning-report .dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
  }
  .dashboard-card-one .card-body .earning-chart-wrap {
    position: relative;
  }
  .dashboard-card-two .card-body .expense-report {
    display: flex;
    margin-bottom: 38px;
  }
  .dashboard-card-two .card-body .expense-report .monthly-expense {
    position: relative;
    margin-right: 40px;
  }
  @media only screen and (max-width: 1699px) {
    .dashboard-card-two .card-body .expense-report .monthly-expense {
      margin-right: 13px;
    }
  }
  @media only screen and (max-width: 1499px) {
    .dashboard-card-two .card-body .expense-report .monthly-expense {
      margin-right: 30px;
    }
  }
  @media only screen and (max-width: 1299px) {
    .dashboard-card-two .card-body .expense-report .monthly-expense {
      margin-right: 13px;
    }
  }
  @media only screen and (max-width: 1199px) {
    .dashboard-card-two .card-body .expense-report .monthly-expense {
      margin-right: 40px;
    }
  }
  @media only screen and (max-width: 479px) {
    .dashboard-card-two .card-body .expense-report .monthly-expense {
      margin-right: 15px;
    }
  }
  .dashboard-card-two .card-body .expense-report .monthly-expense:last-child {
    margin-right: 0;
  }
  .dashboard-card-two .card-body .expense-report .monthly-expense:after {
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 6px;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
  }
  .dashboard-card-two .card-body .expense-report .monthly-expense .expense-date {
    font-size: 15px;
    color: #9f9f9f;
  }
  .dashboard-card-two .card-body .expense-report .monthly-expense .expense-amount {
    color: #222222;
    font-weight: 600;
    font-size: 16px;
  }
  .dashboard-card-two .card-body .expense-report .monthly-expense .expense-amount span {
    font-size: 16px;
    color: #646464;
  }
  .dashboard-card-three .card-body .doughnut-chart-wrap {
    padding: 5px 0 50px;
    display: flex;
    justify-content: center;
  }
  .dashboard-card-three .card-body .student-report {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .dashboard-card-three .card-body .student-report:before {
    content: "";
    height: 58px;
    width: 1px;
    background-color: #d7d7d7;
    position: absolute;
    top: -15px;
    right: 50%;
    transform: translateX(-50%);
  }
  .dashboard-card-three .card-body .student-report .student-count {
    position: relative;
  }
  .dashboard-card-three .card-body .student-report .student-count .item-title {
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 2px;
  }
  .dashboard-card-three .card-body .student-report .student-count .item-number {
    font-size: 16px;
    color: #111111;
    font-weight: 500;
  }
  .dashboard-card-three .card-body .student-report .student-count:after {
    content: "";
    height: 6px;
    width: 49px;
    border-radius: 6px;
    position: absolute;
    top: -18px;
    left: 0;
  }
  .dashboard-card-three .card-body .student-report .student-count:last-child:before {
    display: none;
  }
  .dashboard-card-four .card-body .calender-wrap .fc-calender .fc-view-container .fc-basicWeek-view table .fc-head .fc-head-container .fc-day-header {
    font-size: 14px;
  }
  .dashboard-card-five .card-body .traffic-title {
    color: #a5a5a5;
    margin-bottom: 10px;
  }
  .dashboard-card-five .card-body .traffic-number {
    font-size: 30px;
    font-weight: 700;
    color: #222222;
    line-height: 1;
    margin-bottom: 25px;
  }
  .dashboard-card-five .card-body .traffic-bar {
    display: flex;
    margin-bottom: 18px;
  }
  .dashboard-card-five .card-body .traffic-bar .direct {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 10px;
    background-color: #1de9b6;
    border-radius: 40px 0 0 40px;
  }
  .dashboard-card-five .card-body .traffic-bar .search {
    flex: 0 0 27%;
    max-width: 27%;
    min-height: 10px;
    background-color: #304ffe;
  }
  .dashboard-card-five .card-body .traffic-bar .referrals {
    flex: 0 0 16%;
    max-width: 16%;
    min-height: 10px;
    background-color: #ffea00;
  }
  .dashboard-card-five .card-body .traffic-bar .social {
    flex: 0 0 7%;
    max-width: 7%;
    min-height: 10px;
    background-color: #ed1c24;
    border-radius: 0 40px 40px 0;
  }
  .dashboard-card-five .card-body .traffic-table .table tbody tr {
    border-bottom: 1px dashed #e1e1e1;
  }
  .dashboard-card-five .card-body .traffic-table .table tbody tr:last-child {
    border-bottom: none;
  }
  .dashboard-card-five .card-body .traffic-table .table tbody tr td {
    color: #111111;
    font-weight: 500;
    border-top: none;
    padding: 20px 15px;
  }
  .dashboard-card-five .card-body .traffic-table .table tbody tr .t-title {
    position: relative;
    padding-left: 34px;
  }
  .dashboard-card-five .card-body .traffic-table .table tbody tr .t-title:after {
    content: "";
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
  }
  .dashboard-card-six ::-webkit-scrollbar {
    width: 10px;
    background: #f0f1f2;
    border-radius: 30px;
  }
  .dashboard-card-six ::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #f0f1f2;
  }
  .dashboard-card-six ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #3751fe;
  }
  .dashboard-card-six .card-body .notice-box-wrap {
    max-height: 358px;
    overflow-y: scroll;
    padding-right: 20px;
  }
  .dashboard-card-six .card-body .notice-box-wrap .notice-list {
    border-bottom: 1px solid #ededed;
    padding-bottom: 14px;
    margin-bottom: 18px;
  }
  .dashboard-card-six .card-body .notice-box-wrap .notice-list .post-date {
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    padding: 5px 14px;
    border-radius: 20px;
    margin-bottom: 14px;
  }
  .dashboard-card-six .card-body .notice-box-wrap .notice-list .notice-title {
    font-weight: 500;
    margin-bottom: 8px;
  }
  .dashboard-card-six .card-body .notice-box-wrap .notice-list .notice-title a {
    color: #111111;
  }
  .dashboard-card-six .card-body .notice-box-wrap .notice-list .entry-meta {
    font-size: 15px;
    color: #646464;
  }
  .dashboard-card-six .card-body .notice-box-wrap .notice-list .entry-meta span {
    color: #a4a4a4;
  }
  .dashboard-card-seven .social-media {
    border-radius: 4px;
    padding: 30px 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .dashboard-card-seven .social-media .media {
    align-items: center;
    justify-content: center;
  }
  .dashboard-card-seven .social-media .media .social-icon {
    font-size: 24px;
    color: #ffffff;
  }
  .dashboard-card-seven .social-media .media .media-body {
    flex: inherit;
  }
  .dashboard-card-seven .social-media .media .media-body .item-title {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 15px;
  }
  